
@{
    ViewBag.Title = "Menu";
}

    <div class="mainContainer">
        <p id="authorizedLogin">Добро пожаловать: @ViewBag.login</p>
        <img src="~/Content/Images/пятнашки.png" sizes="20%">

        <button id="play" onclick="document.location='@Url.Action("ChooseDifficult")'">
            Играть
        </button>

        <button id="record" onclick="document.location='@Url.Action("Record")'">
            Рекорды
        </button>

        <button id="description" onclick="document.location='@Url.Action("Rules")'">
            Правила
        </button>

        <button id="exit" onclick="document.location='@Url.Action("Logoff", "Auth")'">
            Выход
        </button>

        @*<form action="/Home/Index/">
            <button id="exit">
                Выход
            </button>
        </form>*@
    </div>

